
@import "./functions";


.w-10 {
    width: 10%;
}



.navbar {
    .navbar-brand {
      img {
        max-height: 50px;
      }
    }
  }

  .navbar {
    .kids-icon {
      img {
        max-height: 50px;
      }
    }
  }

  .mb-6 {
    margin-bottom: 6vh;
  }

  .container-custom{
    margin-left: 30vw;
    margin-right: 30vw;
  }

  .custom-control-prev {
    left: 5%;
}

.custom-control-next {
    right: 5%;
}

@import "./bootstrap.scss";