
@import "./functions";


.w-10 {
    width: 10%;
}

.navbar {
    .navbar-brand {
      img {
        max-height: 50px;
      }
    }
  }

  .navbar {
    .kids-icon {
      img {
        max-height: 50px;
      }
    }
  }

@import "./bootstrap.scss";